@model IEnumerable<Trip_Show_AgenciaDeViagens.Models.Cliente>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
  <style>
      body{
        margin: 2em;
    }
  </style>
</head>
<body>
    <h1>Clientes Cadastrados</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIDADE_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_IDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_VOLTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_NASC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME_CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIDADE_CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO_CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_IDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_VOLTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_NASC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_CLIENTE">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_CLIENTE">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_CLIENTE">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
